<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huahai.tel.mapper.KeyPointCellMapper">
	<!-- 根据tag -->
	<!-- String selectTablenameByTagname(@Param("tagname") String tagname); -->
	<select id="selectTablenameByTagname" parameterType="String" resultType="String">
		select tablename from YM_BZH_MAPPRING where TAGNAME='${tagname}'
	</select>
	<!-- 
		void insertKeyPointCell(
		@Param("tablename") String tablename,
		@Param("tagname") String tagname); 
	-->
	<insert id="insertKeyPointCell" parameterType="String">
		insert into 
		YM_BZH_MAPPRING
		( tablename,tagname)
		values 
		('${tablename}','${tagname}')
	</insert>
	<!-- void deleteMapping(@Param("tagname") String tagname);-->
	<update id="deleteMapping" parameterType="String">
		DELETE FROM YM_BZH_MAPPRING t WHERE t.tagname = '${tagname}'
	</update>
	<!-- void createKeyPointCell(@Param("tablename") String tablename); -->
	<update id="createKeyPointCell"  parameterType="String">
		CREATE TABLE ${tablename}
		(
		  eNodebid_Cellid VARCHAR2(32)
		)
	</update>
	<!-- void deletekeypointTable(@Param("tablename") String tablename); -->
	<update id="deletekeypointTable" parameterType="String">
		drop table ${tablename}
	</update>
	<!--void insertKeyPointCellName(@Param("tablename") String tablename,
			@Param("cellList") List<String> cellList);  -->
	<insert id="insertKeyPointCellName"  parameterType="java.util.List">
		 insert into ${tablename}  (eNodebid_Cellid) 
	    <foreach collection="cellList" item="item" separator="UNION ALL" >  
	        SELECT
			#{item}
			FROM dual  
	    </foreach> 
	</insert>
	<!-- Integer selectTagName(@Param("tagname") String tagname); -->
	<select id="selectTagName" parameterType="String" resultType="Integer">
		<!-- SELECT count(*) FROM YM_BZH_MAPPRING WHERE TABLENAME='$(tagname)' -->
		SELECT count(*) FROM YM_BZH_MAPPRING WHERE TABLENAME='${tagname}'
	</select>
	<!-- String[] selectAllMapping(); -->
	<!-- 查询所有的组名称  -->
	<select id="selectAllMapping" resultType="java.lang.String">
		SELECT tagname FROM YM_BZH_MAPPRING
	</select>
	<!-- TopCellworkBase[] selectKeyPontCellInfo(
			@Param("cellInfoTablename") String cellInfoTablename,
			@Param("regTablename") String regTablename); -->
	<!-- 查询符合范围的top信息 -->
	<select id="selectKeyPontCellInfo" parameterType="String" resultType="cn.huahai.tel.bean.TopCellworkBase">
		SELECT * FROM
		(
		SELECT A.*, ROWNUM RN
		FROM (
			SELECT
				E.*
			FROM ${cellInfoTablename} E,${regTablename} D WHERE E.ENODEBID_CELLID
			= D.ENODEBID_CELLID
		) A
		WHERE ROWNUM &lt;= 100
		)
		WHERE RN &gt;= 0
		ORDER BY
		RRC加ERAB失败总次数 desc
	</select>
	<!-- TopCellworkBase[] selectVIPCellInfo(@Param("tablename") String tablename); -->
	<!-- 查询Vip小区 -->
	<select id="selectVIPCellInfo" parameterType="String" resultType="cn.huahai.tel.bean.TopCellworkBase">
		<!-- select * from ym_sys_cell where vip = 'VIP' -->
		<!-- select * from ${tablename} t1 where t1.ENODEBID_CELLID in 
		(select ENODEBID_CELLID from ym_sys_cell where vip = 'VIP')
		ORDER BY RRC加ERAB失败总次数 desc -->
		<!-- 只查询前28条 -->
		SELECT * FROM   
			(  
			SELECT A.*, ROWNUM RN   
			FROM (
				select * from ${tablename} t1 where t1.ENODEBID_CELLID in 
				(select ENODEBID_CELLID from ym_sys_cell where vip = 'VIP')
				) A   
				WHERE ROWNUM &lt;= 28 
			)  
			WHERE RN &gt;= 0
			ORDER BY RRC加ERAB失败总次数 desc
	</select>
</mapper>
















